<div id="app">
    <script type="text/x-template" id="appheader">
        <div>My header component template: {{name}}</div>
    </script>
    <script>
        new Vue({
            el: '#app',
            template: '#appheader',
            components: { appheader },
            props: ['name'],
        });
    </script>
</div>
<style>
    th, td {
        padding: 3px;
    }
</style>

<div class="row">
    <p></p>
    <div class="col-md-12">
        <form action="#">
            <table>
                <tr>
                    <td>Name</td>
                    <td colspan="2">
                        <input type="text" id="user" />
                    </td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td colspan="2">
                        <input type="text" id="message" />
                    </td>
                    <td>
                        <input type="submit" id="send" value="Send" />
                    </td>
                </tr>
            </table>
        </form>
        <p></p>
        <ul id="messages" style="list-style-type:none;"></ul>
    </div>
</div>
<script src="/vendors/signalr.min.js"></script>
<script src="/vendors/msgpack5.min.js"></script>
<script src="/vendors/signalr-protocol-msgpack.min.js"></script>

<script src="~/js/appvuehub.js"></script>