<div id="footer"></div>

<script type="text/x-template" id="footer-template">
    <footer class="app-footer">
        <span>Username: {{username}}<a href="http://coreui.io">CoreUI</a> &copy; 2018 creativeLabs.</span>
        <span class="ml-auto">Powered by <a href="http://coreui.io">CoreUI</a></span>
    </footer>
</script>

<script>
    new Vue({
        el: '#footer',
        props: {username: {default: 'mpatrick',type: String} },
        template: '#footer-template'
    })
</script>