@{Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>    

    <link href="~/vendors/vendor.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />

    <script src="~/vendors/vendor.min.js"></script>

    @RenderSection("Scripts", required: false)
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    @RenderBody()
</body>
</html>